@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Tông màu xanh lá tối giản */
  --primary: #10b981;
  --primary-hover: #059669;
  --bg-color: #f8fafc;
  --text-main: #1e293b;
}

body {
  font-family: "Quicksand", sans-serif; /* Font chữ bo tròn mềm mại */
  background-color: var(--bg-color);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar đẹp hơn */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
